<a href="https://colab.research.google.com/github/Andressa1207/Andressa1207/blob/main/Untitled27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importa biblioteca pandas
import pandas as pd

In [2]:
# importar o arquivo csv para o Pandas
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/BBAS3.SA.csv")

In [4]:
from numpy.lib import type_check
# ver o tipo da variável df
type(df)

pandas.core.frame.DataFrame

In [6]:
from pandas.core.generic import Type
# ver o tipo de uma coluna da variável df
type(df['Date'])

pandas.core.series.Series

In [7]:
# ver o tamanho do dataframe (formato)
df.shape

(246, 7)

In [9]:
# mostrar as 5 primeiras entradas do DataFrame
df.head(10)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-09-21  29.730000  30.580000  29.340000  30.580000  28.680056  16301600
1  2018-09-24  30.379999  30.700001  29.500000  29.730000  27.882866  13086900
2  2018-09-25  29.030001  29.760000  28.809999  29.549999  27.714045  11742900
3  2018-09-26  29.650000  29.969999  29.209999  29.450001  27.620264  12842400
4  2018-09-27  29.680000  30.299999  29.680000  30.290001  28.408072   8767900
5  2018-09-28  29.830000  29.980000  29.299999  29.450001  27.620264  12790900
6  2018-10-01  29.549999  29.760000  28.200001  28.209999  26.457306  15677500
7  2018-10-02  29.700001  31.559999  29.650000  31.430000  29.477245  32791500
8  2018-10-03  35.000000  35.419998  33.330002  34.279999  32.150173  35336300
9  2018-10-04  33.680000  35.880001  33.520000  35.119999  32.937988  27920000

In [10]:
#ver os nomes das colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [11]:
#conhecer os tipos de variáveis de cada coluna
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [13]:
# outra maneira de conhecer  os tipos de variáveis é através de df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Open       246 non-null    float64
 2   High       246 non-null    float64
 3   Low        246 non-null    float64
 4   Close      246 non-null    float64
 5   Adj Close  246 non-null    float64
 6   Volume     246 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.6+ KB

In [14]:
# selecionar a variável (coluna) "High" da nossa variável df
df['High']

0      30.580000
1      30.700001
2      29.760000
3      29.969999
4      30.299999
         ...
241    47.560001
242    47.450001
243    48.250000
244    48.700001
245    47.980000
Name: High, Length: 246, dtype: float64

In [15]:
df.High

0      30.580000
1      30.700001
2      29.760000
3      29.969999
4      30.299999
         ...
241    47.560001
242    47.450001
243    48.250000
244    48.700001
245    47.980000
Name: High, Length: 246, dtype: float64

In [16]:
# calcular a média da coluna "High"
df.High.mean()

48.152113682926824

In [17]:
#Vamos converter a coluna usando pd.to_datetime e informando qual o formato da nossa data.
#Antes
df.Date

0      2018-09-21
1      2018-09-24
2      2018-09-25
3      2018-09-26
4      2018-09-27
          ...
241    2019-09-16
242    2019-09-17
243    2019-09-18
244    2019-09-19
245    2019-09-20
Name: Date, Length: 246, dtype: object

In [20]:
# converter coluna Date em datetime
df.Date = pd.to_datetime(df.Date, format = "%Y-%m-%d")

In [21]:
# Depois da formatação 
df.Date

0     2018-09-21
1     2018-09-24
2     2018-09-25
3     2018-09-26
4     2018-09-27
         ...
241   2019-09-16
242   2019-09-17
243   2019-09-18
244   2019-09-19
245   2019-09-20
Name: Date, Length: 246, dtype: datetime64[ns]

In [24]:
#acessar somente o ano 
df.Date.dt.year

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
241    2019
242    2019
243    2019
244    2019
245    2019
Name: Date, Length: 246, dtype: int64

In [25]:
#acessar somente o mês
df.Date.dt.month

0      9
1      9
2      9
3      9
4      9
      ..
241    9
242    9
243    9
244    9
245    9
Name: Date, Length: 246, dtype: int64

In [26]:
#acessar somente o dia
df.Date.dt.day

0      21
1      24
2      25
3      26
4      27
       ..
241    16
242    17
243    18
244    19
245    20
Name: Date, Length: 246, dtype: int64